In [1]:
# -*- coding: utf-8 -*-
import os
import pickle
from typing import List

import pandas
import numpy as np
from tqdm import tqdm

In [2]:
'''
读I-1 csv
'''
assert os.path.exists('../../data')
dataset = pandas.read_csv('../../data/Dataset I (indel&mismatch)/dataset I-1/CIRCLE_seq_10gRNA_wholeDataset.csv', delimiter=',')
dataset

,sgRNA_seq,off_seq,Read,sgRNA_type,Cell,Read_normalised,label
0,G_AGTCCGAGCAGAAGAAGAAAGG,GGAGTCCGTGCAGAAGCAGGAAGC,0.0,GAGTCCGAGCAGAAGAAGAANGG,,0.0,0.0
1,G_AGTCCGAGCAGAAGAAGAAAGG,CAAGTCCGAGAAGAAGCAGAAAAG,0.0,GAGTCCGAGCAGAAGAAGAANGG,,0.0,0.0
2,G_AGTCCGAGCAGAAGAAGAAAGG,GAAGTCTTAGCAAAAGAAGAAAGC,0.0,GAGTCCGAGCAGAAGAAGAANGG,,0.0,0.0
3,G_AGTCCGAGCAGAAGAAGAAAGG,GAAGTCCGAGGAGAGGAAGAAAGG,0.0,GAGTCCGAGCAGAAGAAGAANGG,,0.0,0.0
4,G_AGTCCGAGCAGAAGAAGAAAGG,GAAGGCGGAGAAGAAGAAGAAATT,0.0,GAGTCCGAGCAGAAGAAGAANGG,,0.0,0.0
...,...,...,...,...,...,...,...
584944,-GGGTGGGGGGAGTTTGCTCCTGG,-GGAGGGAGGGGGCTTGCTCATGG,6.0,GGGTGGGGGGAGTTTGCTCCNGG,U2OS_exp2,6.0,1.0
584945,-GGGTGGGGGGAGTTTGCTCCTGG,-GAGGAGGGATAATTTGCTCCTGG,6.0,GGGTGGGGGGAGTTTGCTCCNGG,U2OS_exp2,6.0,1.0
584946,-GGGTGGGGGGAGTTTGCTCCTGG,-TTCTGGAGGGAGCTGGCTCCTGG,6.0,GGGTGGGGGGAGTTTGCTCCNGG,U2OS_exp2,6.0,1.0
584947,-GGGTGGGGGGAGTTTGCTCCAGG,-AGATGGGTGGGACTTGCTCCAGG,6.0,GGGTGGGGGGAGTTTGCTCCNGG,U2OS_exp2,6.0,1.0
584948,-GGGTGGGGGGAGTTTGCTCCTGG,-GTGTGGAGGGACTTGGCTCCTGG,6.0,GGGTGGGGGGAGTTTGCTCCNGG,U2OS_exp2,6.0,1.0

In [3]:
on = dataset['sgRNA_seq']
off = dataset['off_seq']
val = dataset['label']

In [4]:
tlen =24
for seq in on:
    seq = '-'*(tlen-len(seq))+seq
for seq in off:
    seq = '-'*(tlen-len(seq))+seq
for i in range(len(on)):
    for j in range(tlen):
        if on[i][j]=='N':
            on[i][j]=off[i][j]

df = pandas.DataFrame(data={
    'on':on,
    'off':off,
    'val':val
})
df.to_csv('../../data/I-1.csv',index=False)