In [1]:
# -*- coding: utf-8 -*-
import os
import pickle
from typing import List

import pandas
import numpy as np
from tqdm import tqdm

In [2]:
orig_name = 'Dataset II-2.csv'
csv_name = 'II-2'

In [3]:
'''
è¯» csv
'''
assert os.path.exists('../../data')
dataset = pandas.read_csv('../../data/Dataset II (mismatch-only)/%s' % orig_name, delimiter=',')
dataset

,Unnamed: 0,30mer,30mer_mut,Annotation,Target gene,wasValidated,GUIDE-SEQ Reads,Targetsite,readFraction,20mer
0,0,TGGATGGAGGAATGAGGAGTTGG,AGGAAGGATGACTGAGGAGTGAG,"['AG', 'A:T,1', 'A:T,5', 'T:G,9', 'C:A,12']",5,0,NaN,NaN,0.0,TGGATGGAGGAATGAGGAGT
1,3,GCCTCCCCAAAGCCTGGCCAGGG,GCTTCCCCAGTGCCTGGACATGG,"['T:C,3', 'G:A,10', 'T:A,11', 'A:C,18']",4,0,NaN,NaN,0.0,GCCTCCCCAAAGCCTGGCCA
2,6,GACTTGTTTTCATTGTTCTCAGG,GATTTGTGTTGATTGTTGTCAGG,"['T:C,3', 'G:T,8', 'G:C,11', 'G:C,18']",4,0,NaN,NaN,0.0,GACTTGTTTTCATTGTTCTC
3,7,AAATGAGAAGAAGAGGCACAGGG,AAAGGTGAAGAAGGGACACAAAG,"['AG', 'G:T,4', 'T:A,6', 'G:A,14', 'A:G,16']",5,0,NaN,NaN,0.0,AAATGAGAAGAAGAGGCACA
4,8,CCAGTGAGTAGAGCGGAGGCAGG,CCAGTGAGGAGAGAGGGAGCAGG,"['G:T,9', 'A:C,14', 'G:A,17', 'A:G,18']",4,0,NaN,NaN,0.0,CCAGTGAGTAGAGCGGAGGC
...,...,...,...,...,...,...,...,...,...,...
10124,17790,CCAGTGAGTAGAGCGGAGGCAGG,CCAGGGAGTAAAGGGGAGACAGG,"['G:T,5', 'A:G,11', 'G:C,14', 'A:G,19']",4,0,NaN,NaN,0.0,CCAGTGAGTAGAGCGGAGGC
10125,17792,CCCATCCATCCAGAGACACAGGG,ATCATCTGTCCAGAGACACAAGG,"['A:C,1', 'T:C,2', 'T:C,7', 'G:A,8']",4,0,NaN,NaN,0.0,CCCATCCATCCAGAGACACA
10126,17793,CCCATCCATCCAGAGACACAGGG,CCCATTGACCCAGAGAAACATGG,"['T:C,6', 'G:C,7', 'C:T,9', 'A:C,17']",4,0,NaN,NaN,0.0,CCCATCCATCCAGAGACACA
10127,17794,AAATGAGAAGAAGAGGCACAGGG,CAATGAAAAGAAGAAGCACTCAG,"['AG', 'C:A,1', 'A:G,7', 'A:G,15', 'T:A,20']",5,0,NaN,NaN,0.0,AAATGAGAAGAAGAGGCACA
10128,17795,GCCTCTTTCCCACCCACCTTGGG,GCCTCCAGCCCACCCACCTCCAG,"['AG', 'C:T,6', 'A:T,7', 'G:T,8', 'C:T,20']",5,0,NaN,NaN,0.0,GCCTCTTTCCCACCCACCTT

In [7]:
on = dataset['30mer']
off = dataset['30mer_mut']
val = dataset['readFraction']
on,off,val

(0        TGGATGGAGGAATGAGGAGTTGG
 1        GCCTCCCCAAAGCCTGGCCAGGG
 2        GACTTGTTTTCATTGTTCTCAGG
 3        AAATGAGAAGAAGAGGCACAGGG
 4        CCAGTGAGTAGAGCGGAGGCAGG
                   ...
 10124    CCAGTGAGTAGAGCGGAGGCAGG
 10125    CCCATCCATCCAGAGACACAGGG
 10126    CCCATCCATCCAGAGACACAGGG
 10127    AAATGAGAAGAAGAGGCACAGGG
 10128    GCCTCTTTCCCACCCACCTTGGG
 Name: 30mer, Length: 10129, dtype: object,
 0        AGGAAGGATGACTGAGGAGTGAG
 1        GCTTCCCCAGTGCCTGGACATGG
 2        GATTTGTGTTGATTGTTGTCAGG
 3        AAAGGTGAAGAAGGGACACAAAG
 4        CCAGTGAGGAGAGAGGGAGCAGG
                   ...
 10124    CCAGGGAGTAAAGGGGAGACAGG
 10125    ATCATCTGTCCAGAGACACAAGG
 10126    CCCATTGACCCAGAGAAACATGG
 10127    CAATGAAAAGAAGAAGCACTCAG
 10128    GCCTCCAGCCCACCCACCTCCAG
 Name: 30mer_mut, Length: 10129, dtype: object,
 0        0.0
 1        0.0
 2        0.0
 3        0.0
 4        0.0
         ...
 10124    0.0
 10125    0.0
 10126    0.0
 10127    0.0
 10128    0.0
 Name: readFraction, Length: 10129, dtype: float64)

In [11]:
tlen =24
ons = []
offs = []
for i in range(len(on)):
    ons.append('-'*(tlen-len(on[i]))+on[i])
for i in range(len(off)):
    offs.append('-'*(tlen-len(off[i]))+off[i])

In [12]:
min([len(s) for s in ons])

24

In [15]:
for i in tqdm(range(len(ons))):
    for j in range(tlen):
        if ons[i][j]=='N':
            ons[i][j]=offs[i][j]

df = pandas.DataFrame(data={
    'on':ons,
    'off':offs,
    'val':val
})
df.to_csv('../../data/%s.csv' % csv_name, index=False)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10129/10129 [00:00<00:00, 245808.73it/s]